body{
    background-color: #f6f6f6;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* GENERAL BOX STYLE */
.common{
    background-color: rgb(217, 217, 246);
    border: 2px solid rgb(255, 180, 222);
}

/* HEADER */
.header{
    height: 110px;
    padding: 10px;
    text-align: center;
    border-bottom: solid 1px rgb(254, 206, 230);
}

/* LEFT MENU */
.leftmenu{
    position: absolute;
    top: 130px;
    left: 10px;
    width: 120px;
    bottom: 60px;
    padding-top: 20px;
    border-right: solid 1px rgb(254, 206, 230);
}

/* RIGHT MENU */
.rightmenu{
    position: absolute;
    top: 130px;
    right: 10px;
    width: 120px;
    bottom: 60px;
    padding: 10px;
    border-left: solid 1px rgb(254, 206, 230);
}

/* MAIN BODY */
.mainbody{
    position: absolute;
    top: 130px;
    left: 150px;
    right: 150px;
    bottom: 60px;
    padding: 20px;
    overflow-y: auto;
    background-color: white;
}

/* FOOTER */
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
    background-color: rgb(217, 217, 246);
    border-top: 2px solid rgb(255, 180, 222);
}

/* HEADER LINKS */
.subheader{
    float: right;
}

/* LINKS */
a{
    color: rgb(171, 112, 226);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    font-weight: bold;
}